body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  .app-title {
    max-width: 650px;
    margin-bottom: 75px;
    span {
      color: #007bff;
    }
    .call-to-action {
      color: #19b2ff;
    }
  }
}
