.ColorsRecognition {
  width: 100%;
  max-width: 677px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  img {
    max-width: 427px;
    height: auto;
    border-radius: 9px;
  }

  .colors {
    width: 100%;
    max-width: 200px;
    height: auto;
    .colors-list {
      padding-top: 3px;
      margin-top: 0;
      list-style: none;
      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
    }
  }
}
